body {
	background-color: #f0f0f0;
}
.firkant{
	background-color: green;
	float: left;
	border: 0px solid black;
	box-sizing: border-box;
}

#container{
	height: 100px;
	width: 100px;
	background-color: yellow;
}

.firkantover{
	background-color: black;
}

button{
	padding: 5px;
	margin: 20px;
}